header{
    
    height: 250px;
    background-image: url("images/quadro.jpg");
    background-repeat: repeat;
    background-position: center;
    border-style: solid;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width:5px;
    
    border-bottom-color: #A091E9;
    
    -webkit-box-shadow: 0px 14px 96px 0px rgba(128,128,128,1);
    -moz-box-shadow: 0px 14px 96px 0px rgba(128,128,128,1);
    box-shadow: 0px 14px 96px 0px rgba(128,128,128,1);
    
    z-index: 0;
    
}

body{
    margin: 0px;
    background-color: #fff;
    min-height: 100%;
}


.top_cabecalho{
    border-style: solid;
    border-width:2px;
    
    height: 40px;
    
    background-color: #EEE;
    border-color: #EEE;
    
    -webkit-box-shadow: 3px 4px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 27px 0px rgba(0,0,0,0.75);
    
    position: absolute;
    top: 0px;
    
}

#top_left{
    
    
    width: 140px;
    padding-left: 20px;
    border-bottom-right-radius: 8px;
    left: 0px;
    
}

#top_right{
    
    
    width: 220px;
    padding-left: 20px;
    border-bottom-left-radius: 8px;
    right: 0px;
    
}

#logout{
    width: 30px;
    height: 30px;
    top: 7px;
    right: 10px;
    position: absolute;
    
}

.top_cabecalho p{
    color: #000;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    -webkit-margin-before: 10px;
    -webkit-margin-after: 7px;
    
}


nav{
    background-color: #fff;
    
    position: absolute;
    
    right: 50%;
    left: 50%;
    
    margin-left: -490px;
    margin-right: -490px;
    
    width: 980px;
    height: 100%;
    z-index: -1;
    
}


#agenda{
    
    position: absolute;
    top: 0px;
    left: 0px;
    
    border-style: solid;
    border-color: #CCC;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 2px;
    border-bottom-width:0px;
    
    width: 650px;
    height: 100%;
}

.imp_alta_paper{
    background-color: #FFC99A
}

.imp_normal_paper{
background-color: #FFFF99;
}

.paper_sticker{
    
    border-width: 0px;
    
    width: 165px;
    height: 135px;
    
    -webkit-box-shadow: 8px 8px 50px -1px rgba(8,8,8,1);
    -moz-box-shadow: 8px 8px 50px -1px rgba(8,8,8,1);
    box-shadow: 8px 8px 50px -1px rgba(8,8,8,1);
    
    padding: 15px;
}

.paper_sticker:before{
    
    position: absolute;
    content: url('images/pin.png');
    margin-top: -35px;
    margin-left: 67px;
    
}

.paper_sticker p{
    color: #000;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    text-align: center;
    
    
}



#papeis .paper_sticker:nth-child(1){
    position: absolute;
    
    top: 80px;
    left: 150px;
    
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

#papeis .paper_sticker:nth-child(2){
    position: absolute;
    
    top: 80px;
    left: 420px;
    //background-color: #fff;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
}


#papeis .paper_sticker:nth-child(3){
    position: absolute;
    
    top: 80px;
    left: 670px;
    //background-color: #fff;
    //-ms-transform: rotate(-5deg); /* IE 9 */
   // -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    //transform: rotate(-5deg);
}

#papeis .paper_sticker:nth-child(4){
    position: absolute;
    
    top: 80px;
    left: 900px;
    //background-color: #fff;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
}

#agenda{
padding-top: 15px;
}

#agenda h1{
    
    text-align: center;
    color: #000;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    
}

#compor{
    position: absolute;
    top: 0px;
    right: 0px;
    
    width: 330px;
height: 100%;
padding-top: 15px;
}

#compor h1{
    
    text-align: center;
    color: #000;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    
}


#compor #titulo, #lembrete{
    
    font-family: 'Architects Daughter', cursive;
    font-size: 14px;
    border-style: solid;
    border-radius: 5px;
    border-color: #999;
    border-width: 1px;
    position: relative;
    width: 220px;
    right: 50%;
    left: 50%;
    margin-left: -110px;
    margin-right: -110px;

}

#data{
    font-family: 'Architects Daughter', cursive;
    font-size: 14px;
    border-style: solid;
    border-radius: 5px;
    border-color: #999;
    border-width: 1px;
    position: relative;
    width: 100px;
    right: 50%;
    left: 50%;
    margin-left: -100px;
    margin-right: 0px;
    text-align: center;

}


#importancia{
    font-family: 'Architects Daughter', cursive;
    font-size: 14px;
    border-style: solid;
    border-radius: 5px;
    border-color: #999;
    border-width: 1px;
    position: relative;
    width: 100px;
    right: 50%;
    left: 50%;
    margin-left:  0px;
    margin-right: -100px;
    text-align: center;
    
}

#compor #data:hover, #titulo:hover, #lembrete:hover{
    
    background-color: #eee;

    
}

#compor p{
    color: #000;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    text-align: center;
}



#lembrete{
    height: 100px;

}

#compor #adicionar{
 
 border-style: solid;
 border-color: #999;
 border-width: 1px;
 background-color: #fff;
 border-radius: 32px;
 width: 32px;
 height: 32px;
 font-size: 20px;
 text-align: center;
 padding: 0px;
 color: #999;
 position: relative;
 top: 85px;
 right: 50%;
 left: 50%;
 margin-left: -32px;
 margin-right: -32px;
 font-weight: normal;

}

#compor #adicionar:hover{
background-color: #DDD;
}

#compromissos{
    
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 50%;
    left: 50%;
    width:520px;
    margin-right: -260px;
    margin-left: -260px;
    
}

#compromissos td{
    padding: 10px;

}

#compromissos #col1, #col3, #col4{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-left-width: 0px;
    border-color: #ddd;

}

#compromissos th{
    border-top-width: 0px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: #ddd;
    padding: 15px
}

.retraido {

    //white-space: nowrap;
    height: 0em;
    overflow: hidden;
    text-overflow: ellipsis;

}

.expandido{
white-space: normal;
height: auto;
}

.botao_detalhes{
    color: #ccc;
    background-color: #fff;
    border-width: 0px;
}

.container{
    height: 100%;
}

.imp_alta{
    color: red;
}

imp_normal{
    color: black;
}

.desc{
    font-family: 'Roboto', sans-serif;
    color: #bbb;
    font-size: 14px;

}


.botao_editar{
    
    background: url("images/edit.png");
    background-repeat: no-repeat;
    background-position: top left;
    
    border-style: solid;
     border-width: 0px;
    
    width: 20px;
    height: 20px;
    
    position: relative;
    
    left: 50%;
    right:50%;
    
    margin-left: -10px;
    margin-right: -10px;
    
    width: 20px;
    
}


.botao_excluir{
    
    background: url("images/delete.png");
    background-repeat: no-repeat;
    background-position: top left;
    
    border-style: solid;
    border-width: 0px;
    
    width: 20px;
    height: 20px;
    
    position: relative;
    
    left: 50%;
    right:50%;
    
    margin-left: -10px;
    margin-right: -10px;
    
    width: 20px;
    
}

button:hover{
    opacity: 0.5;
}


.paper_sticker > button{

position: absolute;
bottom: 2px;
right:0%;
left:0%;
margin-right: 0px;
margin-left: 170px;
 opacity: 0.5;

}
