
/* Caixa de edição */
#cont_edit{
    
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1; /* Para bloquear o restante da pagina quando a janela estiver ativa */
}

#editar_conteudo{
    font-family: 'Architects Daughter', cursive;
    width: 440px;
    height: 400px;

    background-color: #fff;
    z-index: 1;
    position: fixed;
    
    left:50%;
    right: 50%;
    margin-right: -220px;
    margin-left: -220px;
    
    top: 10%;
    
    border-style: double;
    border-width:4px;
    border-radius: 6px;
    
    border-color: #aaa;
    
    -webkit-box-shadow: 3px 4px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 27px 0px rgba(0,0,0,0.75);
    padding: 10px;
    
}

.escondido{
    display: none;
}

.visivel{
    display: block;
}

#fechar_edicao, #fechar_historico{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
}


#editar_conteudo h1{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    color: #000;
    text-align: center;
}

#head_edicao{
    position: absolute;
    top: 23px;
    left: 0px;
    background-color: #CBBDF0;
    width: 460px;
    height: 60px;
    border-style: solid;
    border-color: #999;
    
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

#body_edicao{
    position: absolute;
    top: 85px;
    left: 0px;
    background-color: #fff;
    width: 460px;
}

#body_edicao td{

padding: 5px;
}

#body_edicao p{
    
    text-align: right;
}

#body_edicao #importancia_edit, #titulo_edit, #lembrete_edit, #data_edit{
    
    font-family: 'Architects Daughter', cursive;
    background-color: #fff;
    border-style: solid;
    border-color: #bbb;
    
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    
    width: 150px;

}

#body_edicao #lembrete_edit{

 border-top-width: 1px;
 border-left-width: 1px;
 border-right-width: 1px;
 border-top-width: 1px;
 border-radius: 5px;
 height: 40px;
}


#body_edicao table{
    
    position: absolute;
    top: 5px;
    left: 50%;
    right: 50%;
    width: 460px;
    margin-right: -230px;
    margin-left: -230px;

}


#modificar{
    background-color: #EEE;
    border-width:1px;
    border-style: solid;
    border-color: #999;
    border-radius:4px;
    position: absolute;
    right: 50%;
    left: 50%;
    width: 80px;
    margin-left: -40px;
    margin-right: -40px;
    text-align: center;
font-family: 'Architects Daughter', cursive;}


/* Caixa que exibe o histórico */
/* --------------------------- */




#cont_historico{
    
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1; /* Para bloquear o restante da pagina quando a janela estiver ativa */
}

#historico{
    font-family: 'Architects Daughter', cursive;
    width: 700px;
    height: 100%;
    
    background-color: #fff;
    z-index: 1;
    position: fixed;
    
    left:50%;
    right: 50%;
    margin-right: -350px;
    margin-left: -350px;
    
    top: 0%;
    
    border-style: double;
    border-width:4px;
    border-radius: 6px;
    
    border-color: #aaa;
    
    -webkit-box-shadow: 3px 4px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 27px 0px rgba(0,0,0,0.75);
    padding: 10px;
    
    overflow: scroll;
}

#head_historico{
    position: absolute;
    top: 23px;
    left: 0px;
    background-color: #CBBDF0;
    width: 720px;
    height: 60px;
    border-style: solid;
    border-color: #999;
    
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

#head_historico h1{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    color: #000;
    text-align: center;
}


#body_historico{
    
    
    position: absolute;
    top: 120px;
    left: 50%;
    right: 50%;
    
    width: 680px;
    
    margin-right: -340px;
    margin-left: -340px;

}


#thistorico{
    border-collapse: collapse;
    right: 50%;
    left: 50%;
    width: 100%
}

#thistorico td{

font-family: 'Roboto', sans-serif;
font-size: 12px;

color: #000;
padding: 10px;



}

#thistorico tr:nth-child(2n){
    background-color: #eee;
}

#thistorico tr:nth-child(2n+1){
    background-color: #fff;
}

#thistorico #col1a, #col2a, #col3a{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-left-width: 0px;
    border-color: #ddd;
    
}

#thistorico th{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-top-width: 0px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: #ddd;
    padding: 5px
    font-weight: bold;
}

.col_lemb{
    width: 250px;
    padding: 10px;
    text-align: justify;
}

.col_tit{
    width: 190px;
    text-align: center;
}

.col_status{
    width: 50px;
    text-align: center;
}

.col_data{
    width: 80px;
    text-align: center;
}

#hist{
    

    position: absolute;
    background-color: #fff;
    height: 40px;

    
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    width: 170px;
    
    padding-left: 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
     margin-top: -40px;
    margin-left: -45px;
   
}

#botao_exibir_hist{
    
    font-size: 13px;
    color: #3333FF;
    font-family: 'Homemade Apple', cursive;
}

.sim{
    color: green;
}

.não{
    color: red;
}


